body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.card-body a:hover{
    text-decoration: none;
}
a[class*=nav-link]{
    color:rgb(255, 255, 255) ;
}
.card{
    border: none !important
}
input.transparent-input{
    background-color:transparent !important;
    border:none !important;
 }
 .transparent-input::placeholder{
     color: #FFFFFF;
     font-weight: bold;
 }
 .transparent-input{
     caret-color: #FFFFFF;
 }